<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'jQuery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center text-info">登录功能</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">用户名</label>
                        <input type="text" id="id_username" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_password">密码</label>
                        <input type="password" id="id_password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="登录" class="btn btn-block">
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>